<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>734723739922-68rp459f6v29qied58vfm98m0231tmpk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.734723739922-68rp459f6v29qied58vfm98m0231tmpk</string>
	<key>API_KEY</key>
	<string>AIzaSyAAUP7DSrzFjIsBTSsMw6KdR1_eJEdI4_8</string>
	<key>GCM_SENDER_ID</key>
	<string>734723739922</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shopApp</string>
	<key>PROJECT_ID</key>
	<string>shopapp-830e1</string>
	<key>STORAGE_BUCKET</key>
	<string>shopapp-830e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:734723739922:ios:5294503e3e761904d363cb</string>
</dict>
</plist>